:root {
    --base-color: white;
    --base-variant: #edeff7;
    --text-color: black;
    --base-variant-logo: black;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: rgba(0, 105, 171, 1);
    --Testimonials-color: black;
}

.darkmode {
    --base-color: black;
    --base-variant: #101425;
    --base-variant-logo: white;
    --text-color: white;
    --secondary-text: #a4a5b8;
    --primary-color: #ffffff;
    --accent-color: rgba(0, 105, 171, 1);
    --Testimonials-color: black;
}

#theme-switch{
    height: 30px;
    width: 50px;
    border-radius: 30px;
    padding: 0;
    background-color: var(--base-variant-logo);
    display: flex;
    z-index: 1;
    position:absolute;
    top: 67px;
    left: 10px;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--base-variant);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

/* ...... */
.navbar-nav .nav-item a {
    color: var(--text-color) !important;
}

.main-class {
    margin-top: 30px;
    color: var(--text-color);
}

.main-class p {
    color: var(--primary-color);
}

.main-class span {
    color: var(--secondary-text);
}

.main-class .color-class {
    color: rgb(0, 157, 255);
}

/* ...... */

.appoin-col-class p {
    color: var(--text-color);
}

/* ...... */

.service-section .service-header h1,
p {
    color: var(--text-color);
}

.cards .card .card-body {
    color: var(--Testimonials-color);
}

.cards .card .card-body .card-text {
    color: var(--Testimonials-color);
}

/* ........ */

.about-us-section h2,
p {
    color: var(--text-color);
}

/* ........ */
.workd-header h1,
h2,
p {
    color: var(--text-color);
}

/* ........ */

.testimonials-header h1,
p {
    color: var(--text-color);
}

.testimonials .membar-border-class p {
    color: var(--Testimonials-color);
}

/* ......... */

.specialists-header h1,
p {
    color: var(--text-color);
}

/* ............ */

.contact-us-header h1,
p {
    color: var(--text-color);
}

/* ......... */

.fotter .fotter-links ul li a {
    color: var(--text-color);
}

.fotter hr {
    color: var(--primary-color);
}

/* ..................................................................................................................................... Light-Dark Mode */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-color);
}

.main-section {
    font-family: "Gilroy";
    padding-top: 100px;
}

.specing {
    margin: 50px 0px;
}

/* -------------------  header Navbar */

.header-section{
    background-color: #32BDFF;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.header-img {
    max-width: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.header-name {
    /* color: rgb(0, 157, 255) !important; */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-item {
    margin: 0px 15px;
}

.nav-item a {
    color: var(--text-color);
}

.collapse .nav-item .nav-link:active {
    color: rgb(0, 157, 255) !important;
}

.collapse .nav-item .nav-link:hover {
    color: blue !important;
}

.header-navbar form {
    padding: 0px 13px;
}

.navvar-join-btn {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px;
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) -1%, rgba(0, 149, 222, 1) 100%);
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        background: linear-gradient(135deg, rgba(167, 226, 255, 1) 1%, rgba(0, 149, 222, 1) 100%);
        padding: 15px;
        font-weight: bold;
        border-radius: 12px 12px 10px 10px;
    }
}

/* ---------------------------------- main-class */

@media (max-width:991px) {
    .main-class {
        text-align: center !important;
    }
}

@media (max-width:1024px) {
    .main-img {
        margin-top: 20px;
        text-align: center !important;
    }
}

@media (max-width:991px) {
    .main-class .appoinment-btn a {
        margin: 0px 0px 20px 0px !important;
        /* background-color: #32BDFF; */
    }
}

.color-class {
    color: rgb(0, 157, 255);
}

.icons-calss {
    word-spacing: 15px;
}

.icons-calss a {
    color: rgb(148, 148, 148) !important;
}

.icons-calss a:hover {
    color: grey !important;
}

.btn-appoin {
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) -1%, rgba(0, 149, 222, 1) 100%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    padding: 13px 20px;
}

/* ---------------------- appoinment-section */

.appointment-contact {
    border: 1px solid rgba(0, 149, 222, 1);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 2px 5px 0px lightblue;
}

.appoinment-section .appointment-contact p {
    gap: 10px;
}

.appoinment-section .appointment-contact .appoin-col-class p {
    align-items: center;
    display: flex;
    margin: 0;
}

.appointment-contact i {
    color: rgba(0, 149, 222, 1);
}

.input-style {
    width: 85%;
    border-radius: 10px;
    height: 40px;
    padding: 0px 20px;
    border: 1px solid gray;
}

.btn-appoin-btn {
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) -1%, rgba(0, 149, 222, 1) 100%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    padding: 9px 20px;
}

@media (max-width:768px) {
    .btn-appoin-btn {
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .input-style {
        width: 100%;
    }
}

@media (max-width:426px) {
    .appointment-contact {
        padding: 30px 20px !important;
        /* background-color: #32BDFF; */
    }
}

/* ------------------------ service-section */

.service-section .cards .card-body i {
    background-color: lightcyan;
    border-radius: 10px;
    padding: 10px;
    color: rgba(0, 105, 171, 1);
    font-size: 25px;
}

.service-section .cards .card {
    padding: 20px;
    height: 100%;
    box-shadow: 0px 2px 5px 0px lightblue;
    border: 2px solid rgba(149, 221, 255, 1);
    border-radius: 20px;
}

@media (max-width: 426px) {
    .service-section .cards {
        padding: 0 !important;
    }
}


/* ----------------- About us */


@media (max-width: 426px) {
    .about-us-section .border-class .row .img-class img {
        width: 100% !important;
    }
}

.border-class {
    border: 1px solid rgba(149, 221, 255, 1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px 0px lightblue;
}


/* --------------------- Works-Section */


.btn-numbar {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) -1%, rgba(0, 149, 222, 1) 100%);
}

@media (max-width:768px) {
    .workd-Section .workd-section-pg .workd-section-sub {
        padding: 0px;
    }
}

@media (max-width:376px) {
    .btn-appoin {
        text-align: center;
        justify-content: center;
        display: flex;
    }
}


/* -------------------- Testimonials-Section */

.membar-border-class {
    border: 1px solid rgba(149, 221, 255, 1);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    background: linear-gradient(180deg, rgba(167, 226, 255, 1) -221%, white 100%);
    box-shadow: 0px 2px 5px 0px lightblue;
}

.membar-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* --------------------- Specialists-Section */

.docter-back {
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) 1%, rgba(0, 149, 222, 1) 100%);
    border-radius: 30px;
    color: white;
    align-items: center;
    margin-top: 30px;
}

.book-appoinment {
    background: white;
    color: #32BDFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    padding: 13px 20px;
}

.docter-img {
    width: 100%;
    height: 450px;
    margin-top: -60px;
}

@media (max-width:1024px) {
    .docter-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width:425px) {
    .book-appoinment {
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

/* 
.docter-img{
    position: absolute;
    width: 250px;
    left: -40px;
    top: -35px;
} */

/* -------------------- Contact-us  */

.help-color-class {
    color: black !important;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 149, 222, 1);
}

.btn-contact {
    color: white;
    border: 1px solid rgba(0, 149, 222, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 20px;
}

.icon .password-toggle-icon1 {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 20px;
}

.btn-appoin-contact {
    background: linear-gradient(135deg, rgba(167, 226, 255, 1) -1%, rgba(0, 149, 222, 1) 100%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    padding: 13px 20px;
}

@media (max-width:768px) {
    .btn-appoin-contact {
        width: 300px;
    }
}

/* -------------------- Fotter-Section */

.fotter {
    background-color: var(--base-variant);
}

.fotter-links ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 40px;
}

.fotter-links ul li a {
    text-decoration: none;
    color: black;
}

.fotter-links ul li a:hover {
    color: blue;
}

.sub-footer .icons a {
    color: rgba(0, 149, 222, 1);
    font-size: 25px;
}

.sub-footer .icons i {
    padding: 0px 5px;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../ttf/Gilroy-Bold.ttf);
}